# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
dist-server/
# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env.*
*.pem
*.env
# Stores VSCode versions used for testing VSCode extensions
.vscode-test


# Deployment realted files
# sonar-project.properties
# _scm_jenkins/jenkins.yaml

server/mongo-ca.pem
jest

package-lock.json/